// Create a .env file with the following credentials:
APP_ENV=docker

UUID=2024...f313b

REMOTE_STORAGES=https://143...245:9201,https://143...245:9201
REMOTE_STORAGES_USERS=...,...
REMOTE_STORAGES_PASSWORDS=mmd...GLX,mmd...GLX

CENTRALIZED_SERVER=weili@traversa.cc.gatech.edu

TARGET_FILE=/ioda-upstream-delay-new/source_data/test_ip
INTERMEDIATE_OUTPUT_FILE=/ioda-upstream-delay-new/intermediate_result/test.yrp
RESULT_FOLDER=/ioda-upstream-delay-new/result
PROBE_RATE=60000
MAX_TTL=32
PROBE_TYPE=ICMP